*{
    background-color:#F3F8F6;    
}
.body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:black;
    background-color: #F3F8F6;
    line-height: 1;
    overflow-x: hidden;

}
.container{
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
.title{
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
}
